{% extends "layout.html" %}
{% block title %} Admin Panel {% endblock %}

{% block content %}

<h2>👨‍💼 Admin Dashboard</h2>

<h3>👥 Registered Users</h3>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
    </tr>
    {% endfor %}
</table>

<br>

<h3>🛍 Products</h3>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>

    {% for product in products %}
    <tr>
        <td>{{ product[0] }}</td>
        <td>{{ product[1] }}</td>
        <td>₹{{ product[2] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}